:root{

--Violet: hsl(257, 40%, 49%);
--SoftMagenta: hsl(300, 69%, 71%);
--big_strip_height: 50px;
--big_circle_height: 74px;

--small_strip_height: 40px;
--small_circle_height: 16px;
}
    
html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.wrapper{
    background-color: var(--Violet);
    background-image: url(../images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1440px;  
    height: 100vh;
    min-height: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.left{
    width: 54%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.logo{
    margin-top: 50px;
    margin-left: 60px;
}

.box{
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.15);
    background-color: white;
}

.bigger{
    width: 660px;
    height: 410px;
    margin-top: 90px;
    margin-left: 75px;
}

.smaller{
    width: 220px;
    height: 350px;
    margin-top: -270px;
    margin-left: 560px;
}

.black{
    background-color: black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
}

.big_strip{
    height: var(--big_strip_height);
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
    align-items: center;
}

.small_strip{
    height: var(--small_strip_height);
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    align-items: center;
}

.right{
    padding-left: 60px;
    width: 46%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.r1{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 42px;
    margin-top: 250px;
    margin-right: 60px;
}

.r2{
    color: white;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 90px;
    line-height: 1.6;
}

.button{
    margin-top: 25px;
}

.RegisterButton {
	box-shadow: 5px 5px 20px -9px hsl(0, 0%, 0%);
	background-color: white;
	border-radius:32px;
	display:inline-block;
    cursor:pointer;
    color: var(--Violet);
    font-family: 'Poppins', sans-serif;
	font-size:17.5px;
    text-decoration:none;
    width: 200px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RegisterButton:hover {
    background-color: var(--SoftMagenta);
    color:#ffffff;
}

.icons{
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-right: 85px;
    margin-top: 160px;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 2px solid white;
    cursor:pointer;
    color: white
}

.circle:hover{
    border: 2px solid var(--SoftMagenta);
    color: var(--SoftMagenta);
}

.content_big_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: calc(100% - var(--big_strip_height));
}

.content_big{
    width: 85%;
    height: var(--big_circle_height);
    display: flex;
    justify-content: space-between;
}

.big_circle{
    width: var(--big_circle_height);
    height: var(--big_circle_height);
    border-radius: calc(var(--big_circle_height) / 2);    
    
}

.c1{
    background: linear-gradient(135deg, rgba(255,160,119,1) 0%, rgba(252,79,139,1) 100%);
}

.c2{
    background: linear-gradient(135deg, rgba(94,194,255,1) 0%, rgba(28,133,249,1) 100%);
}

.c3{
    background: linear-gradient(135deg, rgba(255,94,180,1) 0%, rgba(169,28,249,1) 100%);
}

.big_box_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    width: 80%;
    color: silver;
    font-size: 10px;
}

.big_box_text_title{
    font-weight: 600;
    font-size: 16px;
}

.content_small_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: calc(100% - var(--small_strip_height));
}

.content_small{
    width: 85%;
    height: var(--small_circle_height);
    display: flex;
    justify-content: space-between;
}

.small_circle{
    width: var(--small_circle_height);
    height: var(--small_circle_height);
    border-radius: calc(var(--small_circle_height) / 2);  
}

.small_box_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    width: 80%;
    color: silver;
    font-size: 5px;
}

.small_box_text_title{
    font-weight: 600;
    font-size: 9x;
}

.form{
    color:silver;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.menu{
    background-color: silver;
}

.big_form{
    font-size: 18px;
}

.small_form{
    font-size: 14px;
}

.big_menu{
    width: 16px;
    height: 4px;
}

.small_menu{
    width: 12px;
    height: 3px;
}

.big_menu::before{
    content: '';
}